body{
    font-family: 'baloo bhaijaan 2';
}
#title{
    background-color: #ff4c68;
    color: white;
}
#head1{
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    font-size: 3.8rem;
    line-height: 1.5;
    font-weight: 900;
}
.container-fluid{
    padding: 2% 8% 4%;
}

/* navigation bar */
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{

padding:0 0 4.5rem;
}
.nav-item{
    padding: 0px 18px;
}
.nav-link{
    font-size: 1.3rem;
}
#cont{
    padding-left: 0%;
    padding-right: 0%;
}


/* download buttons */
.download-button{
    margin: 5% 3% 5% 0%;
}
/* title-image */
.title-image{
    width: 15%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

/* features section */

h3{
    font-weight: 900;
}
#features{
    padding: 7% 15%;
    background-color: white;
    z-index: 1;
    position: relative;
}
.feature-box{
    text-align: center;
    padding: 8%;
    font-size: 1.4rem;

}
p{
    color: #8f8f8f;
}
.sym{
    color: #ef8172;
    margin-bottom: 1rem;
}
.sym:hover{
    color:#ff4c68;
    margin-bottom: 1rem;
}

/* Testemonials  */
h2{
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
#testimonials{
    padding: 2% 15% 3% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}
.testimonial-img{
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}
.tetimonial-client{
    font-size: 1.4rem;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-img{
    width: 10%;
    margin: 20px 20px 50px;
}
/* .carousel-item{
    padding: 7% 15%;
} */
/* pricing */
#pricing{
    padding: 100px;
    text-align: center;
}
.pr{
    padding: 2% 3%;
}

/* cta section */
#cta{
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading{
    font-size: 3.5rem;
    font-weight: 900;
  
}
/* footer section */
#footer{
    padding: 7% 15%;
    text-align: center;
}
.ico{
    margin: 20px 10px;
}


@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0deg);
        width: 40%;
    }
}